
KSYPhotoPickerKit.xcworkspace/xcuserdata/sunyazhou.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
KSYPhotoPickerKit.xcodeproj/project.xcworkspace/contents.xcworkspacedata
*.xcuserstate
KSYPhotoPickerKit.xcworkspace/contents.xcworkspacedata
KSYPhotoPickerKit.xcodeproj/xcuserdata/sunyazhou.xcuserdatad/xcschemes/xcschememanagement.plist
